/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-main {
  flex-grow: 1;
  padding: 2rem;
  padding-top: 80px; /* Adjust this value based on your header's height */

}

.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}

.app-main-content {
  padding-bottom: 60px; /* Adjust this value based on your footer's height */
}